.banner {
  color: #00818C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: top;
  background-size: cover;
  height: 400px;
}

.btn-start {
  background-color: #00818C;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
}

.btn-start:hover {
  background-color: white;
  color: #00818C;
  border: 1px solid #00818C;
}
