.footer {
  background-color: #00818C;
  height: 100px;
}

.list-inline li {
  display: inline-block;
}

.list-inline {
  padding-left: 0px;
  padding-top: 20px;
  text-align: center;
}

.icons {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 10px;
}

.icons:hover {
  color: #00444A;
}
